<h1><%= @event.name%></h1>

<h2>Date: <%= @event.date%></h2>
<p><%= @event.details%></p>
<h2>Attendees: </h2>
<% @event.attendees.each do |attendee|%>
    <p><%= attendee.email%></p>
<%end%>

<% if user_signed_in? %>
    <% if @event.attendees.include?(current_user)%>
        <%= button_to "Leave Event", event_event_attendance_path(@event, @event.event_attendances.find_by(user: current_user)), method: :delete%>
    <%else%>
        <%= button_to "Join Event", event_event_attendances_path(@event), method: :post %>
    <%end%>
<%end%>


